body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}
.li-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  text-transform: capitalize;
}
/* #region скидуєм стилі */
a {
  text-decoration: none;
}

ul,
ol {
  list-style-type: none;
}
/* #endregion скидуєм стилі*/

button {
  cursor: pointer; /* зміна вигляду курсора*/
}
/* #region header */
.main-header {
}
.main-nav {
}
.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}
.logo-style {
  color: #2e2f42;
}
.nav-list {
}
.nav-item {
}
.nav-item-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.nav-item-link:hover,
.nav-item-link:focus,
.contact-list .link:hover,
.contact-list .link:focus {
  color: #404bbf;
}

.contact-list .link {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.main-header .address {
  font-style: normal;
}
/* #endregion header*/

/* #region hero */
.hero {
  background-color: #2e2f42;
  text-align: center;
}
.hero-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: #ffffff;
}
.hero-btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  background-color: #4d5ae5;
}
.hero-btn:hover,
.hero-btn:focus {
  background-color: #404bbf;
}
/* #endregion hero */
/* #region Our Team */
.team {
  background-color: #f4f4fd;
}
.team-list .item {
  background-color: #ffffff;
  text-align: center;
}
/* #endregion Our Team */
/* #region footer */
.main-footer {
  background-color: #2e2f42;
  color: #f4f4fd;
}
.accent {
  color: #f4f4fd;
}
/* #endregion footer*/
